{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "trailingComma": "es5"
}
